.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.image {
  height: 400px;
  width: 400px;
  align-self: center;
}

.text {
  color: #fff;
  font-size: 40px;
}
